body {
    margin: 0;
}

.main_content {
    width: 80%;
    margin: auto;
}

article {
    position: relative;
}

.header_pattern {
    background: url("../img/pattern.png");
    text-align: inherit;
    margin: -9px auto auto -9px;
    background-size: contain
}

.logo_img {
    width: 200px;
    height: 90px;
    padding: 20px;
    margin-top: 20px;
}

.margin-b-no {
    margin-bottom: auto;
}

.greey-text {
    color: darkgrey;
}

.no_text_decoration {
    text-decoration: none;
}


.margin_l_no {
    margin-left: auto;
}


.style-no {
    list-style: none;
    padding: 0;
}


.margin_no {
    margin: auto;
}


.thead-style {
    background-color: rgb(127 166 251);
    text-align: start;
    color: beige;
}

.row_odd {
    background-color: rgb(223 229 242);
}

.trd-colummn {
    width: 60%;
}


.style_footer {
    background-color: rgb(49 58 107);
    text-align: center;
    color: beige;
    height: 25px;
    padding: 17px;
    margin: 30px auto auto;
}